<div (click)="onNavegated(contact.id)" class="contact">
     <div class="contact__col">
        <img *ngIf="contact.image" [src]="contact.image" alt="Imagen del contacto" class="contact__img">
        <div *ngIf="!contact.image">{{contact.name[0] + contact.lastName[0]}}</div>
    </div>
    <div class="contact__col">
        <span class="contact__info">{{contact.name}}</span>
    </div>
    <div class="contact__col">
        <span class="contact__info">{{contact.address}}</span>
    </div>
    <div class="contact__col">
        <span class="contact__info">{{contact.number}}</span>
    </div>
    <div class="contact__col">
        <span class="contact__info">{{contact.company}}</span>
    </div>
</div>