@import '../../../scss/abstracts/functions';
@import '../../../scss/abstracts/vars';

.contact {
    margin: 2rem 0 0 0;
    width: 50em;
    height: 5rem;
    background-color: getColor("secondary");
    border: 1px solid getColor("lightdark");
    border-top: 2px solid getColor("primary");
    border-radius: 0 0 1em 1em;
    cursor: pointer;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    transition: all 0.2s;
  
    &__img {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      background-color: getColor("light");
      border: 1px solid getColor("lightdark");
      filter: grayscale(15%);
    }
  
    &__title {
      font-size: 3rem;
      font-weight: 700;
      color: getColor("light");
    }
  
    &:hover {
      background-color: darken(getColor("lightdark"), 14%);
      border-top: 5px solid getColor("primary");
    }
  }