<div class="detalle__container">
    <div class="detalleCard">
        <div class="detalleCard__gradiant"></div>
        <div class="detalleCard__row">
            <img [src]="contact.image" alt="#" class="detalleCard__img">
        </div>
        <div class="detalleCard__row">
            <div>
                <p class="detalleCard__info"> <span class = "green-text">Nombre:</span> {{contact.name + " " + contact.lastName}}</p>
                <p class="detalleCard__info"><span class = "green-text">Direccion:</span> {{contact.address}}</p>
                <p class="detalleCard__info"><span class = "green-text">Telefono:</span> {{contact.number}}</p>
                <p class="detalleCard__info"><span class = "green-text">Empresa:</span> {{contact.company}}</p>
            </div>
        </div>
        <div class="detalleCard__row">
            <span class="detalleCard__button">Editar</span>
            <span class="detalleCard__button">Eliminar</span>
    </div>
</div>