<div class="contact-form">
        <h1 class="contact-form__title">Agregar Contacto</h1>
        <form class="contact-form__form" action="tu_endpoint_de_guardado.php" method="POST">
            <div class="contact-form__field">
                <label for="imgUrl" class="contact-form__label">Imagen de perfil:</label>
                <input type="text" id="imgUrl" name="imgUrl" [(ngModel)]="contactForAdd.imgUrl" class="contact-form__input" placeholder="URL de la imagen">
            </div>
            <div class="contact-form__field">
                <label for="name" class="contact-form__label">Nombre:</label>
                <input type="text" id="name" name="name" [(ngModel)]="contactForAdd.name" class="contact-form__input" placeholder="Nombre">
            </div>
            <div class="contact-form__field">
                <label for="surname" class="contact-form__label">Apellido:</label>
                <input type="text" id="surname" name="surname" [(ngModel)]="contactForAdd.surname" class="contact-form__input" placeholder="Apellido">
            </div>
            <div class="contact-form__field">
                <label for="address" class="contact-form__label">Dirección:</label>
                <input type="text" id="address" name="address" [(ngModel)]="contactForAdd.address" class="contact-form__input" placeholder="Dirección">
            </div>
            <div class="contact-form__field">
                <label for="phoneNumber" class="contact-form__label">Número de teléfono:</label>
                <input type="tel" id="phoneNumber" name="phoneNumber" [(ngModel)]="contactForAdd.phoneNumber" class="contact-form__input" placeholder="Número de teléfono">
            </div>
            <div class="contact-form__field">
                <label for="company" class="contact-form__label">Empresa:</label>
                <input type="text" id="company" name="company" [(ngModel)]="contactForAdd.company" class="contact-form__input" placeholder="Empresa">
            </div>
            <button type="submit" (click)="agregarContacto(contactForAdd)" class="contact-form__submit">Agregar Contacto</button>
            <button type="submit" (click)="closeModal()" class="contact-form__skipe">Salir</button>
        </form>
</div>